In [1]:
# Importing all the needed libraries
import pandas as pd

In [10]:
# Rading 
data = pd.read_csv(r"E:\Projects\kaggle comp\data\train.csv")

In [11]:
#data.head
#data.shape
data.info()
data.describe()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
#dealing with missing values for age
mrs_data = data.loc[(data["Sex"] == "female") & (data.Name.str.contains("Mrs"))]
# mrs_data.describe()

# Visualizing the age distribution
#mrs_data.Age.hist()
#mrs_data.Age.plot(kind = "kde")

#Based on the distribution we can choose the mean as a measure of our central tendency
mrs_data['Age'].fillna(int(mrs_data['Age'].mean()),inplace = True)
mrs_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129 entries, 1 to 885
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  129 non-null    int64
 1   Survived     129 non-null    int64
 2   Pclass       129 non-null    int64
 3   Name         129 non-null    object
 4   Sex          129 non-null    object
 5   Age          129 non-null    float64
 6   SibSp        129 non-null    int64
 7   Parch        129 non-null    int64
 8   Ticket       129 non-null    object
 9   Fare         129 non-null    float64
 10  Cabin        46 non-null     object
 11  Embarked     128 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 13.1+ KB
C:\Users\Vishal\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [13]:
mr_data = data.loc[(data["Sex"] == "male") & (data.Name.str.contains("Mr"))]


# Visualzing the distribution of age
#mr_data.Age.plot(kind = 'kde')
#mr_data.Age.hist()
mr_data['Age'].fillna(int(mr_data['Age'].mean()),inplace = True)
mr_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 518 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  518 non-null    int64
 1   Survived     518 non-null    int64
 2   Pclass       518 non-null    int64
 3   Name         518 non-null    object
 4   Sex          518 non-null    object
 5   Age          518 non-null    float64
 6   SibSp        518 non-null    int64
 7   Parch        518 non-null    int64
 8   Ticket       518 non-null    object
 9   Fare         518 non-null    float64
 10  Cabin        94 non-null     object
 11  Embarked     518 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 52.6+ KB
C:\Users\Vishal\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [14]:
# Get the data which are not in the other two data frames
lst = [mr_data, mrs_data]
sdata = pd.concat(lst)
sdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 647 entries, 0 to 885
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  647 non-null    int64
 1   Survived     647 non-null    int64
 2   Pclass       647 non-null    int64
 3   Name         647 non-null    object
 4   Sex          647 non-null    object
 5   Age          647 non-null    float64
 6   SibSp        647 non-null    int64
 7   Parch        647 non-null    int64
 8   Ticket       647 non-null    object
 9   Fare         647 non-null    float64
 10  Cabin        140 non-null    object
 11  Embarked     646 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 65.7+ KB

In [15]:
common = data.merge(sdata, on=["PassengerId"])
result = data[~data.PassengerId.isin(common.PassengerId)]
#result.Age.plot(kind = "kde")

result['Age'].fillna(int(result['Age'].mean()), inplace = True)
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 2 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  244 non-null    int64
 1   Survived     244 non-null    int64
 2   Pclass       244 non-null    int64
 3   Name         244 non-null    object
 4   Sex          244 non-null    object
 5   Age          244 non-null    float64
 6   SibSp        244 non-null    int64
 7   Parch        244 non-null    int64
 8   Ticket       244 non-null    object
 9   Fare         244 non-null    float64
 10  Cabin        64 non-null     object
 11  Embarked     243 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 24.8+ KB

In [17]:
# lst = [mrs_data,mr_data,result]
# age_crct_data= pd.concat(lst)
# age_crct_data.info()

age_crct_data.to_csv('clean-data.csv',index = False)

# New section

# New section